#projects {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .englobe-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        overflow: hidden;
        z-index: -1;
        .background-element {
            width: 1000px;
            height: 1000px;
            border-radius: 100%;
            position: absolute;
            top: -150px;
            left: -50px;
            background: radial-gradient(circle at center, #C1CAFD 0, white 60%) !important
        }
    }
    .navigation-projects {
        position: fixed;
        width: 100vw;
        top: 50%;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
        button {
            background-color: transparent;
            border: none;
            font-size: .9em;
            font-weight: 300;
            margin: 5px 0;
            transition: .1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            &:first-child {
                i {
                    margin-right: 10px;
                }
                &:hover{
                    i{
                        animation-duration: 1.5s;
                        animation-name: bounce_arrow_left;
                        animation-timing-function: ease-in-out;
                    }
                }
            }
            &:last-child {
                i {
                    margin-left: 10px;
                }
                &:hover{
                    i{
                        animation-duration: 1.5s;
                        animation-name: bounce_arrow_right;
                        animation-timing-function: ease-in-out;
                    }
                }
            }

            i {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }
}


.project {
    width: 800px;
    position: relative;
    z-index: 1;
    .img {
        width: 800px;
        position: relative;
        .englobe-screen {
            width: 100%;
            height: 415px;
            border-radius: 3px;
            box-shadow: 1px 5px 40px rgba($color: #000000, $alpha: 0.1);
            position: relative;
            background-color: rgba($color: white, $alpha: 0.8);
            overflow: hidden;
            video {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .title {
        position: absolute;
        top: -70px;
        p {
            margin: 0;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 300;
        }
        h2 {
            margin: 5px 0 20px 0;
            font-weight: 700;
            font-size: 1.8em;
        }
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 210px;
        margin-top: 25px;
        position: absolute;
    }
    .description p{
        font-weight: 200;
        font-size: 0.95em;
        line-height: 1.5em;
        margin: 0;
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        margin-top: 15px;
        svg {
            width: 28px;
            margin-left: 20px;
            transition: .1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover{
                fill: #1d00c2;
            }
        }
        a{
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: .9em;
            position: relative;
            transition: .1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover{
                color: #1d00c2;
            }
            &.website-link {
                &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 1.5px;
                background-color: #1d00c2;
                bottom: -2px;
                left: 0;
                transition: .2s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
                &:hover::after{
                    width: 100%;
                }
            }
            i{
                font-size: 12px;
                margin-right: 4px;
            }
        }
    }
    .navigation-arrows {
        display: flex;
        justify-content: center;
        button {
            background-color: transparent;
            border: .5px solid rgba($color: black, $alpha: 0.3);
            color: #000000b4;
            width: 38px;
            height: 38px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            position: relative;
            &::after {
                content: "";
                width: 38px;
                height: 38px;
                border-radius: 100%;
                position: absolute;
            }
            &:hover::after {
                border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
                border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
                border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
                border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
                animation-duration: 0.6s;
                animation-name: border_animation;
                animation-timing-function: ease-in-out;
            }
            &:hover i{
                transition: .1s all cubic-bezier(0.075, 0.82, 0.165, 1);
                color: #1d00c2;
                
            }
            i {
                font-size: 15px;
            }
        }
    }
}


video::-webkit-media-controls {
    display: none;
  }


@keyframes border_animation {
    0% {
        border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        transform: rotate(0deg);
    }

    10% {
        border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        transform: rotate(60deg);
    }

    30% {
        border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        transform: rotate(120deg);
    }

    60% {
        border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 0);
        transform: rotate(200deg);
    }

    90% {
        border-top: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-right: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-bottom: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        border-left: 1.5px solid rgba($color: #1d00c2, $alpha: 1);
        transform: rotate(300deg);
    }
}

@keyframes bounce_arrow_left {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(-8px);
      }
      60% {
        transform: translateX(-4px);
      }
}
@keyframes bounce_arrow_right {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(8px);
      }
      60% {
        transform: translateX(4px);
      }
}




@media screen and (max-width: 1100px) {
    .project{
        width: calc(100vw - 50px);
        .img{
            width: calc(100vw - 50px);
            .englobe-screen{
                height: auto;
                padding-top: 56%;
            }
        }
        .content{
            position: static;
            margin-top: 10px;
            margin-bottom: 60px;
        }
        .description p{
            font-size: .9em;
            line-height: 1.5em;
        }
    }
    #projects{
        justify-content: flex-start;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        padding-top: 130px;
    }
    #projects .navigation-projects{
        position: absolute;
        top: auto;
        bottom: 10px;
        button{
            font-size: .85em;
            padding: 0;
        }
    }
    #projects .englobe-background{
        position: fixed;
    }
    .background-element{
        left: -400px !important;
    }
}


@media screen and (max-width: 770px) {
    .project{
        .content{
            display: flex;
            flex-direction: column-reverse;
            margin-top: 0;
            .details{
                flex-direction: row-reverse;
                margin: 5px 0;
                .links{
                    margin: 0;
                    a{
                        margin-right: 20px;
                        color: #1d00c2 !important;
                    }
                    svg{
                        margin-left: 0;
                        fill: #1d00c2 !important;
                    }
                };
            }
        }
    }
    #projects .englobe-background{
        opacity: .6;
        .background-element{
            width: 800px;
            height: 800px;
        }
    }
}