@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
      }
      37% {
        transform: translateX(5px);
        timing-function: ease-out;
      }
      55% {
        transform: translateX(-5px);
        timing-function: ease-in;
      }
      73% {
        transform: translateX(5px);
        timing-function: ease-out;
      }
      82% {
        transform: translateX(-5px);
        timing-function: ease-in;
      }
      91% {
        transform: translateX(2px);
        timing-function: ease-out;
      }
      96% {
        transform: translateX(-2px);
        timing-function: ease-in;
      }
      100% {
        transform: translateX(0px);
        timing-function: ease-in;
      }
 } 


$blue : rgb(64,23,235);
$transition: .1s all cubic-bezier(0.075, 0.82, 0.165, 1)